[submodule "external/baseclasses"]
	path = external/baseclasses
	url = https://github.com/krkrz/baseclasses.git
	ignore = dirty
[submodule "external/ogg_win32"]
	path = external/ogg_win32
	url = https://github.com/uyjulian/ogg_win32.git
	ignore = dirty
